<div class="container">
  <div class="title-content">
    <h1 class="title-text">MULTIPLE CHOICES</h1>
  </div>
  <div *ngFor="let question of quizData; index as questionIndex">
    <div class="multiple-choices-content">
      <h2>{{questionIndex + 1}} {{ question.question }}</h2>
      <div *ngFor="let option of question.options; index as optionIndex">
        <button class="btn-answers" [ngClass]="option.active ? 'btn-answers-clicked' : ''"
                (click)="answerQuestion(questionIndex, optionIndex, option.labelText)">
          {{ option.labelText }}
        </button>
      </div>
    </div>
  </div>
  <div class="btn-submit-content">
    <button class="btn-submit" (click)="checkingAnswer()">{{'Submit'}}</button>
  </div>
</div>

